.PersonaTooltipRoot
{
	width: 100%;
	height: 100%;
	flow-children: right;
}

#PersonaAttributesContainer
{	
	flow-children: down;
	
	margin-top: 50px;
	margin-left: 10px;
}
 
.PersonaAttributeBox
{
	horizontal-align: left;
	
	width: 75px;
	height: 25px;
	
	opacity: 0.9;
	border: 1px solid white;
	background-image: url("file://{images}/revive_bar.png");
 }
 
.PersonaAttribute
{
	vertical-align: middle;
	horizontal-align: middle;
	
	color: white;
	text-shadow: 1px 1px 1px black; 
 }

#PersonaSpellsContainer
{	
	flow-children: down;
	
	margin-top: 50px;
	margin-left: 10px;
}
 
.PersonaSpellBox
{
	horizontal-align: left;
	
	width: 75px;
	height: 25px;
	
	opacity: 0.9;
	border: 1px solid white;
	background-image: url("file://{images}/revive_bar.png");
 }
 
.PersonaSpell
{
	vertical-align: middle;
	horizontal-align: middle;
	
	color: white;
	text-shadow: 1px 1px 1px black; 
 }